body {
    background-color: darkblue;
}
#heading1 {
    color: darkblue;
    text-align: center;
    background-color:yellow;
    font-family: serif
}
.span1 {
    align-content: center;
    text-align: center;
    color: white;
    font-family:serif;
}
#paragraph1 {
    text-align: center
}
#list1 {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration:none;
    text-align: center;
}
a {
    float: none;
    width: 6em;
    text-decoration: none;
    color:ghostwhite;
    padding: 0.2em 0.6em;
    text-decoration: underline;
    border: 2px solid crimson;
}
li {
    display: inline;
    }
h2 {
    color: yellow;
    text-align: center;
}
.link1 {
    text-decoration: none;
    border: 0px solid darkblue;
    color: yellow
}
#paragraph3 {
    color: white;
    text-indent: 50px;
}
.span2 {
    color: crimson;
    font-weight: bold;
    font-size: 1.2em;   
}
#span3 {
    color: white;
    font-size: 1em;
    text-indent: 5px;
}
.paragraph4 {
    color: white;
    text-align: left;
}
.paragraph5 {
    color:white;
    margin-left: 3em;
}
.image2 {
    height:300px;
    width: auto;
    margin: 0px auto;display: inline;
    display: inline; border-width: 0px;
    color: darkblue;
    padding: 40px;
}
.image3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#speciallink1 {
    color:darkblue;
    text-decoration: none;
    border: none;
}
.speciallink2 {
    float: none;
    width: 6em;
    text-decoration: none;
    color:crimson;
    padding: 0.2em 0.6em;
    text-decoration: underline;
    border: none;
}
#heart-rates {
    color: white;
    width: 30%;
    height: auto;
    border-spacing: 40px 10px;
}
td {
    text-align: center;
}
th {
    color: yellow;
}
table,th, td {
    border: 3px solid crimson;
    border-collapse: collapse;
}