<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3fccba74-2d53-4d13-aeda-a009cc0addb5/resourcegroups/DigitalLogicSimulatorUpdater20210709011827ResourceGroup/providers/Microsoft.ContainerRegistry/registries/DigitalLogicSimulatorUpdater20210709152813</ResourceId>
    <ResourceName>DigitalLogicSimulatorUpdater20210709152813</ResourceName>
    <ResourceGroup>DigitalLogicSimulatorUpdater20210709011827ResourceGroup</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://digitallogicsimulatorupdater20210709152813.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>