# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.PathFollower.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\JPKSP\Downloads\Digital-Logic-Sim-main (1)\PathFollower\.idea\.idea.PathFollower\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
